body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #48CFAD;
    justify-content: flex-end;
}

.social-media_container {
    display: flex;
    width: 300px;
    height: 50px;
    margin-right: 40px;
    justify-content: space-around;
}

.social-media_icon {
    height: 30px;
    align-self: center;
}

.hero {
    align-items: center;
    background-color: white;
    display: flex;
    margin: 0 auto;
    width: 95%;
    height: 85px;
    justify-content: space-between;
}


.logo {
    width: 250px;
}

.hero a {
    font-size: 20px;
    text-decoration: underline;
    color: black;
}

.main {
    display: flex;
    background-color: #E6E9ED;
    margin: 0 auto;
    height: 300px;
    align-items: center;
}

.image__container {
    margin-left: 150px;
}



.image__container img {
    width: 300px;
}

.information__container {
    margin-left: 80px;
}

.information__container p {
    width: 600px;
}

h2 {
    margin-top: 50px;
    text-align: center;
}

.proyects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid grey;
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.proyect {
    width: 300px;
}

.pre-footer {
    margin-top: 40px;
    background-color: #E6E9ED;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 230px;
}

.item__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 600px;
}
.item__container img {
    width: 80px;
}

.item__container h2 {
    text-decoration: underline;
    font-size: 20px;
}

.item__information-container {
    margin-left: 20px;
    margin-top: -10px;
}

.item__container h2, p {
    text-align: left;
}

.just-a-line {
    background-color: #48CFAD;
    width: 100%;
    height: 30px;
}

.footer {
    background-color: #22272D;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    padding: 0;
    color: #C2C3C5;    
}